*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--backgroundcolor);
  font-family: "Poppins", sans-serif;
}

:root {
  --backgroundcolor: #111215;
  --white: #ffffff;
  --primarycolor: #12c2e9;
  --secondarycolor: #c471ed;
  --tertiarycolor: #f64f59;
  --gradientcolor: linear-gradient(
    45deg,
    var(--primarycolor),
    var(--secondarycolor),
    var(--tertiarycolor)
  );
  --cardcolor: #16171a;
  --bordercardcolor: rgba(255, 255, 255, 0.3);
  --font-family: "Poppins", sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 74.12rem;
  margin: 0 auto;
  margin-top: 2.38rem;
  background-color: var(--backgroundcolor);
  color: var(--white);
  font-size: 2rem;
  font-weight: 400;
  line-height: normal;
  padding: 20px;
}

/* .logo {
  margin-right: 15.38rem;
}

.logo a {
  text-decoration: none;
  color: var(--white);
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-items li {
  list-style: none;
}

.nav-items li a {
  text-decoration: none;
  color: var(--white);
} */

.navbar .logo a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

.navbar .nav-items {
  display: flex;
  list-style: none;
  gap: 15px;
}

.navbar .nav-items li a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem;
  border: 5px solid transparent;
}

.navbar .nav-items li {
  display: inline;
}

.navbar .nav-items li a:hover {
  border: 2px solid;
  border-radius: 30px;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(
    45deg,
    var(--primarycolor),
    var(--secondarycolor),
    var(--tertiarycolor)
  );
}

.nav-items a:hover {
  border-radius: 20px;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-wrap: wrap;
  }

  .logo {
    flex-direction: column;
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }
  .nav-items {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }

  .navbar .nav-items li a {
    padding: 0;
  }

  .nav-items.active {
    display: flex;
  }
}
